# ==========================
# Sistema / OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Composer / PHP tools
# ==========================
vendor/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# WordPress / Theme specifics
# ==========================
/uploads/
/cache/
*.log
